*,::after, ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.headerNavLogo{
    width: 100%;
    height: auto;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content:space-between;
}
.LogoMenu{
    width: 30%;
    padding-right: 0px;
    height: auto;
    /* background-color: antiquewhite; */
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    justify-content: space-around;
}

.navBar{
    /* background-color: aqua; */
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.NavMenu{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}
.MenuList{
    list-style: none;
    color: #ffffff;
}
.MenuList a{
    text-decoration: none;
    color: #ffffff;
}
/*Animation des menu navigation */
.MenuList a::after {
    content: "";
    display: block;
    margin: 0 0;
    width: 0%;
    height: 2px;
    background-color: #f1f1f1;
    transition: width 0.2s ease-in-out;
  }
.MenuList a:hover::after {
    width: 100%;
  }
/*Fin nimation des menu navigation */
.linkLogin{
    width: 60%;
    height: 100%;
    padding: 20px;
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: right;
}
.linkLogin a{
    display: inline-block;
    text-decoration: none;
}
.linkLogin div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border: none;
    width: 15%;
    height: 35px;
    margin-right: 20px;
    border-radius: 10px;

}
.iD, materiel{
    background-color: #ffffff;
}
.iD a{
    color: #1D8399;
}
.Log{
    background-color: #1D8399;
}
.Log a{
    color: #ffffff;
}
.profil{
    display: none;
}
/* Fin Header */
/* Section presentation */
.Presentation{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.TitlePresentationSearch{
    width: 30%;
    height: auto;
    padding: 50px;
}
.OfaTitle{
    font-size: 48px;
    margin-bottom: 20px;
    color: #1D8399;
    text-transform: uppercase;
}
.OfaPresentation{
    font-size: 20px;
    margin-bottom: 20px;
}
.materielProduit{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}
.materielProduit a {
    display: inline-block;
    text-decoration: none;
}
.materiel, .produit{
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px;
}
.materiel{
    background-color: #292929;
    border-radius: 10px;
}
.materiel a{
    color: #ffffff;
}
.produit{
    background-color: #1D8399;
    border-radius: 10px;
}
.produit a{
    color: #ffffff;
}
.ImagePresentation{
    width: 45%;
    /* background-color: aqua; */
    /* background-image: url('Assets/Ecommerce_web_page_pana.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}
.ImagePresentation img{
    width: 100%;
}
/* Fin section de présentation */
/* Recherche et catégorie */
.RechercheCategorie{
    width: 100%;
    height: 30vh;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}
.categorie{
    width: 60%;
    height: 10vh;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}
.CategList{
    width: 70%;
    height: 10vh;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}
.categItems{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.recherches{
    width: 60%;
    height: 5vh;
    border-radius: 10px;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.searchbar{
    width: 60%;
    height: 5vh;
    margin-right: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;

}
.searchbar input{
    border: none;
    width: 100%;
    margin: 10px;
    padding: 8px;
    
}
.searchbar input:focus {
    outline: none;
  }
.searchbar img{
    height: 100%;
    background-color: #1D8399;
    border-radius : 0px 10px 10px 0px;
}
.categButtonSearch{
    width: 10%;
    height: 5vh;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
/* Fin Recherche et catégorie */
/* Section Liste des produits mis en avant */
.listeProduit {
    padding: 25px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.containerProduct {
    width: 80%;
    height: auto;
    padding: 20px;
}

.listPdt {
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}
.producItem{
    width: 20%;
    height: auto;
    list-style: none;
}
.productCard{
    padding: 5px;
    border-radius: 10px;
    width: 85%;
    height: auto;
    -webkit-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 18px 0px rgba(0,0,0,0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.infoProduct{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    justify-content: space-between;
}
.productName{
    font-size: 21px;
    font-weight: bold;
    color: #292929;
}
.contLike{
    height: auto;
    display: flex;
    align-items: center;
}
.panierLocalisation{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
}
.panier,  .localisation{
    width: 45%;
    height: auto;
    display: flex;
    align-items: center;
}
.panier{
    background-color: #292929;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    color: #ffffff;
    border-radius: 5px;
    padding: 5px;
}
.localisation{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    padding: 5px;
}
.BoutonLouer{
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #1D8399;
}
.BoutonLouer a{
    text-decoration: none;
    color: #ffffff;
}
/* Fin Section Liste des produits mis en avant */
/*securité simplicité qualité */
.SecSimQual{
    width: 100%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}
.SecSimQual h2{
    text-align: center;
}
.containerCard{
    width: 75%;
    height: 50vh;
    border-radius: 10px;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.card{
    width: 20%;
    height: 80%;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
}
.card img{
    margin-bottom: 10px;
}
.card p{
    font-size: 42px;
    color: #292929;
}
/* Fin securité simplicité qualité */
.prestataire{
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.TitlePrestataire{
    width: 35%;
    height: auto;
    /* background-color: aqua; */
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.Prestatitle{
    font-size: 40px;
    margin-bottom: 20px;
    color: #292929;
    text-transform: uppercase;}
.Prestation{
    font-size: 20px;
    margin-bottom: 20px;
}
.prestataireButton a{
    text-decoration: none;
    color: #ffffff;
    font-size: 27px;
}
.devenirPrestataire{
    width: 45%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D8399;
    border-radius: 10px;
}    
.ImagePresentation{
    width: 50%;
}
.revenirEnHaut{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1D8399;
}
/* Revenir en haut */
.revenirEnHaut p a{
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
    text-decoration: none;
}
/* Fin Revenir en haut */
/* Footer */
footer{
    width: 100%;
    height: 50vh;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.footerNavRs{
    width: 50%;
    height: auto;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-around;
}
.footerNav{
    width: 100%;
    height: auto;
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
}
.ItemNavfooter{
    margin-bottom: 20px;
    list-style: none;

}
.ItemNavfooter a{
    color: #ffffff;
    text-decoration: none;
}
.reseauSociaux{
    margin-top: 20px;
    width: 100%;
    height: 50px;
    color: #ffffff;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    /* background-color: aliceblue; */
}
.contact{
    margin-right: 20px;
}
.IcResSoc{
    width: 20%;
    height: 100%;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: row;
    justify-content: space-around;
}
.navReclam{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: space-evenly;
}
.reclamation{
    width: 50%;
    height: auto;
    background-color: #292929;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.reclam{
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
}
.LogoReclam input{
    border: none;
    height: 43px;
    width: 100%;
    padding: 8px;
    
}
.LogoReclam input:focus {
    outline: none;
  }
.reclamation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    justify-content: stretch;
}
.reclamation button{
    width: 40%;
    height: 100%;
    padding: 8px;
    border-radius : 0px 10px 10px 0px;
    background-color: #1D8399;
    border: none;
    color: #ffffff;
    font-size: 24px;
}
hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #ffffff;
}
.OfaTeamSayna{
    padding: 10px;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
}
/* Fin footer */
/*Responsive design*/
/*----Header------*/
@media screen and (max-width: 1580px) {
    .LogoMenu{
        width: 70%;
    }
    .linkLogin div{
        width: 20%;
    }
  }
@media screen and (max-width: 1220px) {
    .linkLogin div{
        width: 25%;
    }
  }
@media screen and (max-width: 1035px) {
    .linkLogin div{
        width: 30%;
    }
  }
@media screen and (max-width: 920px) {
    .LogoMenu{
        width: 100%;
        justify-content: start;
    }
    .linkLogin div{
        width: 45%;
    }
    .navBar{
        width: 100%;
    }
  }
@media screen and (max-width: 780px) {

  }
@media screen and (max-width: 630px) {
    .NavMenu{
        display: none;
    }
}
@media screen and (max-width: 435px) {
    .linkLogin div{
        width: 60%;
    }
    .logOfa{
        width: 20%;
    }
}
@media screen and (max-width: 360px) {
    .linkLogin div{
        width: 60%;
    }
}
@media screen and (max-width: 435px) {
    .linkLogin div{
        width: 60%;
        font-size: 12px;
        padding: 5px;
    }
    .linkLogin img{
        width: 20px;
    }
}
/* Section Présentation */
@media screen and (max-width: 1730px) {
    .materiel, .produit{
        padding: 5px;
    }
}
@media screen and (max-width: 1655px) {
    .materiel, .produit{
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
    }
    .materielProduit{
        flex-direction: column;
        justify-content: space-around;
        padding: 10px;
    }
}
@media screen and (max-width: 1390px){
    .TitlePresentationSearch{
        width: 35%;
        height: auto;
        padding: 50px;
    }
    .ImagePresentation{
        width: 50%;
    }
}
@media screen and (max-width: 1190px){
    .OfaTitle{
        font-size: 36px;
    }
    .OfaPresentation{
        font-size: 18px; 
    }
}
@media screen and (max-width: 980px){
    .OfaTitle{
    font-size: 22px;
    margin-bottom: 5px;
    }
    .OfaTitle img{
        width: 20px;
    }
}
@media screen and (max-width: 980px){
    .Presentation{
        width: 100%;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .TitlePresentationSearch{
        width: 100%;
    }
    .materiel, .produit{
        width: 30%;
        padding: 5px;
        margin-bottom: 10px;
    }
    .ImagePresentation img{
        width: 100%;
    }
}
@media screen and (max-width: 745px){
    
}
.main .loadingPage{
    height: 100vh;
    width: 100vw;
   position: fixed;
    background-color: red;
}